*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
overflow-x: hidden;
}
#page-1{
    height: 100vh;
    width: 100%;
    background-color:white;
}
#page-2{
    height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
   
    align-items: center;
}
#page-2 h1{
    text-transform: uppercase;
    font-size:40vw;
    color:black;
}
#page-3{
    height: 100vh;
    width: 100%;
    background-color:white;
}